:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-text-cl: #ffffff;

  --dark-bg: #2f303a;
  --second-bg: #e5e5e5;
  --btn-bg: #f5f4fa;

  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}
.link {
  color: inherit;
  text-decoration: none;
}
.link:hover,
.link.focus {
  color: var(--accent-cl);
}
.current {
  color: var(--accent-cl);
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.address {
  font-style: inherit;
}

.btn {
  cursor: pointer;
  color: var(--title-cl);
  background-color: var(--btn-bg);
  border-width: 0px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  min-height: 38px;
}
.btn:hover,
.btn:focus {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
p,
img {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

/* Шапка сайта*/

.header {
  background-color: var(--alt-text-cl);
  border-bottom: 1px solid #ececec;
}
.header-text {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--title-cl);
  display: inline-flex;
}

.contact {
  color: inherit;
  margin-left: auto;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-left: auto;
}

.studio {
  color: black;
}

.studio-white {
  color: var(--alt-text-cl);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.e-mail {
  width: 16px;
  height: 12px;
  fill: var(--main-text-cl);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}

.phone {
  width: 10px;
  height: 16px;
  fill: var(--main-text-cl);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}

.phone,
.e-mail,
.client-svg,
.client-svg-tile {
  fill: currentColor;
}

.header .container {
  display: flex;
  align-items: center;
}

/*Секция-герой*/
.hero {
  background: var(--dark-bg);
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/herobg.jpg");
  max-width: 1600vh;
  background-repeat: no-repeat;
  background-position: center;
}

.big {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-text-cl);
}

/*Кнопку в постоянный ховер*/
.service {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  min-width: 200px;
  margin-top: 30px;
}

/*Скрытый заголовок*/
.vanish {
  display: none;
}
/*Преимущества*/

.section-advantages {
  padding-top: 94px;
}

.advantages {
  text-transform: uppercase;
  color: var(--title-cl);
  font-size: 14px;
  padding-bottom: 10px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.advantage-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.advantage-svg {
  width: 70px;
  height: 70px;
}

.adv-svg-tile {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 30px;
}

/*Что делаем*/
.section-activities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
  margin-bottom: 50px;
}

.activities-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.activities {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

/*Команда*/

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.team-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-top: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card-text {
  padding: 30px;
  word-wrap: normal;
}

.team {
  background-color: var(--btn-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-cl);
  padding-bottom: 10px;
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-photo {
  margin-left: auto;
  margin-right: auto;
}

/*Клиенты*/

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.client {
  flex-basis: calc(100% / 6 - 30px);
  margin-right: 30px;
  margin-top: 30px;
  justify-content: center;
}

.client-svg {
  width: 106px;
  height: 60px;
}

.client-svg-tile {
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

/*Футер*/
.footer {
  background: var(--dark-bg);
  color: rgba(255, 255, 255, 0.6);
  height: 252px;
  padding-top: 60px;
}

.address-white {
  color: var(--alt-text-cl);
  margin-top: 20px;
}

.footer-mail {
  margin-top: 9px;
}

.footer-phone {
  margin-top: 9px;
}

.address-block {
  float: left;
  margin-right: 156px;
}

/*Соцсети*/
.contact-links {
  display: flex;
  flex-wrap: wrap;
}

.connect {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--alt-text-cl);
}

.studio-links-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  position: absolute;
  margin-top: 50px;
}

.studio-link-line {
  flex-basis: calc(100% / 4 - 40px);
  margin-right: 10px;
}

.button-icon {
  width: 44px;
  height: 44px;
  fill: var(--alt-text-cl);
  border-radius: 50%;
  background-color: currentColor;
}
/*Portfolio*/
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter > li {
  margin-right: 8px;
}
.filter :last-child {
  margin-right: 0;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
  text-align: left;
}

.project-type {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 4px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
